apiVersion: v1
kind: Template
metadata:
  name: web-call-back
  annotations:
    description: "Template para generacion del servicio de web-call-back para Telefonica"
    iconClass: "icon-rh-integration"
objects:
  - apiVersion: apps.openshift.io/v1
    kind: DeploymentConfig
    metadata:
      labels:
        app: web-call-back
        app.kubernetes.io/component: web-call-back
        app.kubernetes.io/instance: web-call-back
      name: web-call-back
      namespace: genesys
    spec:
      replicas: 1
      revisionHistoryLimit: 10
      selector:
        app: web-call-back
        deploymentconfig: web-call-back
      strategy:
        activeDeadlineSeconds: 21600
        resources: { }
        rollingParams:
          intervalSeconds: 1
          maxSurge: 25%
          maxUnavailable: 25%
          timeoutSeconds: 600
          updatePeriodSeconds: 1
        type: Rolling
      template:
        metadata:
          annotations:
            openshift.io/generated-by: OpenShiftNewApp
            sidecar.istio.io/inject: "true"
          labels:
            app: web-call-back
            deploymentconfig: web-call-back
        spec:
          containers:
            - name: web-call-back
              env:
                - name: SPRING_APPLICATION_JSON
                  value: '{"server":{"undertow":{"io-threads":10, "worker-threads":80 }}}'
                - name: JAVA_OPTIONS
                  value: -Xms128m -Xmx256m -Dfile.encoding=ISO-8859-1
              image: image-registry.openshift-image-registry.svc:5000/genesys/web-call-back:latest
              imagePullPolicy: Always
              resources:
                limits:
                  cpu: 200m
                  memory: 512Mi
                requests:
                  cpu: 10m
                  memory: 10Mi
              readinessProbe:
                httpGet:
                  path: /actuator/
                  port: 8087
                  scheme: HTTP
                failureThreshold: 3
                initialDelaySeconds: 20
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 120
              livenessProbe:
                httpGet:
                  path: /actuator/
                  port: 8087
                  scheme: HTTP
                failureThreshold: 2
                initialDelaySeconds: 60
                periodSeconds: 10
                successThreshold: 1
                timeoutSeconds: 120
          dnsPolicy: ClusterFirst
          restartPolicy: Always
          schedulerName: default-scheduler
          securityContext: { }
          terminationGracePeriodSeconds: 30
  - apiVersion: v1
    kind: Service
    metadata:
      labels:
        app: web-call-back
        app.kubernetes.io/component: web-call-back
        app.kubernetes.io/instance: web-call-back
      name: web-call-back
      namespace: genesys
    spec:
      ports:
      # --- start --- #
      - port: 8080
        protocol: TCP
        targetPort: 8080
        name: web
      # --- end --- #
      selector:
        deploymentconfig: web-call-back
      sessionAffinity: None
      type: ClusterIP
  - apiVersion: autoscaling/v2beta2
    kind: HorizontalPodAutoscaler
    metadata:
      labels:
        app: web-call-back
      name: web-call-back
      namespace: genesys
    spec:
      scaleTargetRef:
        apiVersion: apps.openshift.io/v1
        kind: DeploymentConfig
        name: web-call-back
      minReplicas: 1
      maxReplicas: 2
      metrics:
        - type: Resource
          resource:
            name: cpu
            target:
              averageUtilization: 80
              type: Utilization
  # --- start --- #
  - apiVersion: monitoring.coreos.com/v1
    kind: ServiceMonitor
    metadata:
      labels:
        k8s-app: evaluation-number-prefixes
      name: evaluation-number-prefixes
      namespace: kernel
    spec:
      endpoints:
        - interval: 10s
          path: /actuator/prometheus
          port: 8080-tcp
          scheme: http
      selector:
        matchLabels:
          app: evaluation-number-prefixes
  # --- end --- #
  - apiVersion: networking.istio.io/v1beta1
    kind: DestinationRule
    metadata:
      name: web-call-back
      namespace: genesys
    spec:
      host: web-call-back
      trafficPolicy:
        tls:
          mode: ISTIO_MUTUAL
  - apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: web-call-back
      namespace: genesys
    spec:
      gateways:
        - istio-system/wildcard-gateway
      hosts:
        - '*'
      http:
        - match:
            - uri:
                regex: /telefonica/v1/web-call-back/*
          route:
            - destination:
                host: web-call-back
                port:
                  number: 8080